html{
    background-image:url("img/background.jpg");
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
}

main {
    padding: 20px;
}

.tank {
    text-align: center;
}

.tank img {
    width: 500px;
    height: auto;
}

.characteristics {
    margin-top: 20px;
}

.characteristics ul {
    list-style: none;
    padding: 0;
}

.characteristics li {
    margin-bottom: 10px;
}

.price {
    margin-top: 20px;
    text-align: center;
}

.contact {
    margin-top: 20px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
.paypal-container {
    text-align: center;
    margin: 20px auto;
    display:flex ;
    justify-content: center;
}

.paypal-button {
    background-color: #00457e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.images{
    width: 580px;
}
